@use '../abstracts/variables' as v;

.main {
  padding-block: 2em;
  text-align: center;

  & p,
  img {
    margin-inline: auto;
  }
}

.services {
  display: flex;
  flex-direction: column;
  gap: 1em;

  &>* {
    flex-basis: 100%;
  }
}

.service+.service {
  margin-block-end: 2em;
}

.service {
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  border-radius: 0.5em;
  overflow: hidden;
  transition: 300ms cubic-bezier(0.47, 0, 0.745, 0.715);

  &:hover,
  &:focus {
    background-color: transparentize($color: v.$darkblue, $amount: 0.1);
    color: v.$verylightblue;
  }

  &-text {
    text-align: start;
    padding: 2em;

    & p {
      margin-inline: 0;
    }
  }

  & img {
    mix-blend-mode: multiply;
    inline-size: 100%;
  }

  & a {
    color: v.$blue-btn;
    text-transform: capitalize;
    padding: 0.25em 0.75em;
    display: flex;
    gap: 0.5em;
  }
}

.subtitle {
  font-size: 2.25rem;
  font-weight: 700;
  text-transform: capitalize;
  color: v.$darkblue;

}

.testimonial {
  background-color: v.$verylightblue ;
  color: v.$darkblue;
  padding-block: 2em;
  margin-block: 2em;
  font-size: 2.25rem;
  font-weight: 300;

  & figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  & figcaption {
    display: block;
    text-transform: capitalize;
    font-style: italic;
    font-weight: 700;
    color: transparentize($color: v.$darkblue, $amount: 0.7);
    align-self: end;
    margin-inline-end: 2em;

  }

}

.contact-section {
  background-color: v.$blue-btn;
  color: v.$lightgrey;
  display: flex;
   flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 5%;
  flex-wrap: wrap;
  text-align: center;
  padding-block: 2em;
  border-radius: 0.5em;

  &__text {
    padding-inline: 2em;

    &--title {
      color: inherit;
    }
  }
  & .contact-button  {
    display: inline-block;
    background-color: v.$blue-btn;
    color: v.$lightgrey;
    padding: 0.25em 1.5em;
    border-radius: 0.25em;
    cursor: pointer;
    margin-block: 2em;
    transition: 300ms cubic-bezier(0.47, 0, 0.745, 0.715);
    border: 0.075em solid v.$lightgrey;
    &:hover {
      background-color: darken(v.$blue-btn, 50%);
      transform: scale(1.1);
      border: 0;
    }
  }
}