
  
  /// hero and footer background color
  ///@type colors
  $darkblue: #1f2937;
  /// main text and logo color
  ///@type colors
  $lightgrey: #f9faf8;
  ///header info and qoute color
  /// @type colors
  $verylightblue: #e5e7eb;
  ///button color
  /// @type colors
  $blue-btn: #3882f6;
  ///white
/// @type colors
  $white:#fff;
   ///black
/// @type colors
$black:#333;


/// font family
///@type List
$font-roboto: 'Roboto', sans-serif; 
///@type List
$font-sans: 'Open Sans', sans-serif;

///container max length
///@type length
$max-width: 1180px;